<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Matheus.</a>
        
        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#certifications">Certifications</a>
            <a href="#projects">Projects</a>
            <a href="#me2">Me2</a>
            <a href="#contact">Contact</a>

            <span class="active-nav"></span>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, i'm <span>Matheus Roque</span></h1>
            <div class="text-animate">
                <h3>Backend Developer</h3>
            </div>
            <p>Being a backend programmer means that I am responsible for building and managing the part of the system that works behind the scenes, taking care of the logic, databases and communication with the servers. I develop applications and systems that are fundamental to the operation of websites and mobile applications, ensuring that information is processed and stored correctly. My skills in programming languages, databases and frameworks allow me to create scalable, secure and efficient solutions. I work closely with the frontend team to ensure a seamless user experience.</p>            
            <div class="btn-box">
                <a href="https://www.linkedin.com/in/matheus-roque-b835671a6/" class="btn">Hire me</a>
                <a href="https://www.linkedin.com/in/matheus-roque-b835671a6/" class="btn">Let's talk</a>

            </div>
        </div>
        <div class="home-sci">
            <a href="https://github.com/matheusroqueprofissional"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/matheus.roquedebrito/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/matheus-roque-b835671a6/"><i class='bx bxl-linkedin'></i></a>
        </div>

        
    </section>

    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span></h2>
        <div class="about-img">
            <img src="/static/images/minha_imagem.jpg" alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Backend developer</h3>
            <p>I started in the area of ​​web programming at the age of 14, currently studying computer engineering at PUC Campinas, I recently discovered a great passion for the programming area, I have experience with Front-End and Backend programming.
                I am a partner and founder of Me2, a startup created by me and 2 friends, in partnership with PUC, Adventure Hub and Mescla.</p>
            <div class="btn-box btns">
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <section class="education" id="education">
        <h2 class="heading">My <span>Journey</span></h2>
        
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2011-2019</div>
                            <h2>High school</h2>
                            <p>I studied my high school at Escola Salesiana São José.</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2020-2025</div>
                            <h2>Pontifícia Universidade Católica de Campinas PUCCAMP</h2>
                            <p>At puc I'm studying computer engineering where I'm having contact with different professionals and different languages ​​in which I identified myself</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2014-2016</div>
                            <h2>CTRL PLAY</h2>
                            <p>cntrl play was where I had my first contact with programming languages, it is a programming school for young people and teenagers where I learned technologies such as HTML CSS JS PHP SQL PYTHON</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Experience</h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>INTERTHERAPY</h2>
                            <p>Intertherapy is a child neuro physiotherapy clinic, where I developed some of my softskills, mainly communication with clients and other employees from an area different from mine</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>Me2</h2>
                            <p>me2 is a project that I've been developing in college for about a year, I'm responsible for the technology of the entire system and I lead a team of developers
                                me2 is focused on uniting influencers with large companies</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>IMA</h2>
                            <p>IMA (informatica de municipios associados) is where I am currently doing an internship there, I learned several things about the technology area and also improved my skills in clean architecture and data structure</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="skills" id="skills">
        <h2 class="heading">My<span>Skills</span></h2>
        
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Coding Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>HTML/CSS <span>100%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        

                        <div class="progress">
                            <h3>JS <span>30%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Python <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Java <span>50%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        

       
            
            
            <div class="skills-column">
                <h3 class="title">Language Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Portuguese <span>100%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>English <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Spanish <span>30%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Russian <span>10%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills-column">
                <h3 class="title">Profissional Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Comunication <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Diversity <span>100%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        
                        <div class="progress">
                            <h3>Leadership<span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>    
    </section>

    <section class="certifications" id="certifications">
        <h2 class="heading">Certi <span>fications</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2011-2019</div>
                            <h2>ACESSIBILIDADE WEB PARTE 1: TORNANDO SEU FRONT-END INCLUSIVO</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/ae856afb-c0b6-4709-855d-a8ec34a84c35?lang=pt_BR">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2020-2025</div>
                            <h2>ACESSIBILIDADE WEB PARTE 2: COMPONENTES ACESSÍVEIS COM UM POUCO DE JAVASCRIPT</h2>
                            <a href="https://cursos.alura.com.br/certificate/f403fbf9-5aa2-4ffc-81b8-dc826f40816c?lang=pt_BR" class="link">https://cursos.alura.com.br/certificate/f403fbf9-5aa2-4ffc-81b8-dc826f40816c?lang=pt_BR</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2014-2016</div>
                            <h2>ACESSIBILIDADE WEB: CRIE DESIGNS INCLUSIVOS</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/6e6c1987-8b32-4c95-b9fd-6a0d41f1783a?lang=pt_BR">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>ARQUITETURA CSS: DESCOMPLICANDO OS PROBLEMAS</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/3bc1893c-33d3-4019-9554-af4dfefaf177?lang=pt_BR">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>C: CONHECENDO A LINGUAGEM DAS LINGUAGENS</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/ff8c01fb-5444-487c-b5b4-dd6a690f93e4?lang=pt_BR">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>HTML5 E CSS3 PARTE 1: CRIE UMA PÁGINA DA WEB</h2>
                            <a href="https://cursos.alura.com.br/certificate/8bfe2932-e7c3-4f5f-a673-5c9a5c35eeed?lang=pt_BR">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>HTML5 E CSS3 PARTE 2: POSICIONAMENTO, LISTAS E NAVEGAÇÃO</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/560d8700-8654-44f6-9565-1b0e236e62e7?lang=pt_BR">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>HTML5 E CSS3 PARTE 3: TRABALHANDO COM FORMULÁRIOS E TABELAS</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/f504722f-45d1-4f8e-9ee2-623b09151e71?lang=pt_BR">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>HTML5 E CSS3 PARTE 4: AVANÇANDO NO CSS</h2>
                            <a class="link" href="https://cursos.alura.com.br/certificate/562a00e9-725a-4362-9108-1ecaf1920995?lang=pt_BR">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>JAVA JRE E JDK: COMPILE E EXECUTE O SEU PROGRAMA</h2>
                            <a href="https://cursos.alura.com.br/certificate/1eb7fd07-3447-4f13-b0e8-c57987cf3327?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>JAVA OO: ENTENDENDO A ORIENTAÇÃO A OBJETOS</h2>
                            <a href="https://cursos.alura.com.br/certificate/706e8637-348b-4786-90a6-4cd46f325443?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>JAVASCRIPT: ARRAYS</h2>
                            <a href="https://cursos.alura.com.br/certificate/e89b50b3-0106-4689-b509-3655749b3cb7?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>JAVASCRIPT: EXPLORANDO A LINGUAGEM</h2>
                            <a href="https://cursos.alura.com.br/certificate/8c596c35-7fab-4039-ae87-c5b1e0010f70?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>JAVASCRIPT: PROGRAMANDO A ORIENTAÇÃO A OBJETOS</h2>
                            <a href="https://cursos.alura.com.br/certificate/cbdb2eb3-1f9f-46f6-a734-4c68b928387b?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>
                </div>
            </div>



















            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>JAVASCRIPT: TIPOS, VARIÁVEIS E FUNÇÕES</h2>
                            <a href="https://cursos.alura.com.br/certificate/62a62110-9de7-45b9-bdc2-128b665c47db?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>LINUX ONBOARDING: USANDO A CLI DE UMA FORMA RÁPIDA E PRÁTICA</h2>
                            <a href="https://cursos.alura.com.br/certificate/ae5cabee-bbb8-4572-9d81-e7a170595314?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>PHP: CONCEITOS, LIDANDO COM DADOS, LOOPS E MAIS</h2>
                            <a href="https://cursos.alura.com.br/certificate/cf224a1d-25eb-4b7d-bf5d-039f2896f07b?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>SEO: OTIMIZAÇÃO DE SITES</h2>
                            <a href="https://cursos.alura.com.br/certificate/3acd487b-6487-4ce0-b4f3-d678528373ea?lang=pt_BR" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>Fundação Bradesco:LINGUAGEM DE PROGRAMAÇÃO JAVA - BÁSICO</h2>
                            <a href="https://lms.ev.org.br/mpls/Web/Lms/Student/PrintCertificateDialog.aspx?VYmiAJm7ww2iCSlzOQY0fqSAizBWYka9" class="link">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>Fundamentos de Arquitetura de Sistemas</h2>
                            <a href="https://www.dio.me/certificate/8337EA34/share" class="link">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  

































    <section class="projects" id="projects">
        <h2 class="heading">My <span>Projects</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2011-2019</div>
                            <h2>site apostas</h2>
                            <a class="link" href="">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2020-2025</div>
                            <h2>Estudos de Sklearn</h2>
                            <a class="link" href="">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2014-2016</div>
                            <h2>Estudos Opencv</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/opencv">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2019-2020</div>
                            <h2>CadadtroDeJedi</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/CadadtroDeJedi">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>Arvore_de_busca_em_C</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/Arvore_de_busca_em_C">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>lista-pilha-C </h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/lista-pilha-C">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>cards-responsivo</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/cards-responsivo">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>buttoncheckbox</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/buttoncheckbox">Link</a>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar' ></i>2022-2023</div>
                            <h2>botpararedes</h2>
                            <a class="link" href="https://github.com/matheusroqueprofissional/botpararedes">Link</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="title_more_projects">
            <h3>More projects</h3>
        </div>
        
        <div class="centralizar">
            <div class="about-img">
                <a href="https://github.com/matheusroqueprofissional?tab=repositories" class="link_github">
                    <img class="img_github" src="/static/images/logo_github.png" alt="">
                    <span class="circle-spin"></span>
                </a>
            </div>
        </div>
        
        
    </section>

    <section class="me2" id="me2">
        <h2 class="heading">Me <span>2</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">What's Me2?</h3>
                
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <p>me2 is my startup in which we focus on uniting digital influencers with big companies</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <p>we were created at PUCCAMP through the startup acceleration project called MESCLA</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <p>me2 was founded by 3 people, me (matheus roque de brito) Felipe Longuim
                                and lorena marini</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <p> We currently have 2 employees with us, both of whom are developers, I lead this team so that we can improve our company's technology even more.</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <p>For more information please contact me or click on the link below</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <a class="link" href="https://thisme2.com/">thisme2.com</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>


    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="config_email" method="post">
            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Full Name" name="fullname" id="fullname" required>
                    <span class="focus"></span>
                </div>
                



                <div class="input-field">
                    <input type="text" placeholder="Email Address" name="email_address" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="number" placeholder="Mobile Number" name="mobile_number" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email Subject" name="email_subject" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="textarea-field">
                <textarea name="your_message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <span class="focus"></span>
            </div>

            <div class="btn-box btns">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </section>


    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Matheus | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>
    <script src="../static/js/script.js "></script>
</body>
</html>